.seller-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.seller-profile .img-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.seller-profile .name-section h6 {
  margin-bottom: 0;
}
.seller-profile .name-section p {
  margin-bottom: 0;
}
.gig-card-footer {
  display: flex;
  justify-content: center;
}
.gig-card-link {
  color: black;
  text-decoration: none;
}
.gig-card-link:hover {
  color: black;
}
