.comments-area {
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  margin-right: 5px;
}
.comments-area img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
