.h2-title4{
    
    font-size: 34px;
    font-weight: 200;
    margin-left: 588px;
}

.h3-title{
    color: #434f58;
    font-size: 18px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: 412px;
}

.fourth-section{
    margin-bottom: 100px;
}