.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-size: 25px;
  border: 2px solid gray;
  margin-top: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

.topic {
  margin-left: 20px;
  font-size: 22px;
}

.score {
  margin-right: 20px;
  font-size: 22px;
}

.quizInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin: 10px;
}
