.top-banner {
  margin-top: 60px;
}
.top-banner-left-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.top-banner-left-col p {
  font-size: 15px;
  line-height: 26px;
  color: #212d31;
  margin-bottom: 33px;
}
.top-banner-left-col h1 {
  font-size: 40px;
  font-weight: 600;
  color: #212d31;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
