#footer{
    text-align: left;
    margin: 0;
    background-color: #2d353a;
}

#footer-main{
    padding-bottom: 15px;
    color: white;
}

.content{
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1170px;
}

.column-wide{
    padding-right: 5%;
    margin-right: 4%;
}

.column h4{
    color: #636569;
    font-weight: 200;
    letter-spacing: 0;
}
.col-xs-12 ul li{
    list-style-type: none;
    margin-right: 20px;
}
.col-xs-12 ul li a{
    text-decoration: none;
    color: #fff;
}

#footer-bottom{
   
    width: 100%;
    background-color: #1c262b;
   
}

.copyright-and-location{
    
    margin-left: 510px;
    color: #636569;
    
}

.company{
    margin-left: 284px;
}

.contact-container ul li{
    list-style: none;
}

.contact-container ul li a{
    text-decoration: none;
    color: white;
}