* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary-btn {
  border: 2px solid #09c48c;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 7px 30px;
  font-weight: 600;
  border-radius: 3px;
  background: #09c48c;
  text-align: center;
  transition: 0.3s;
}
.primary-btn:hover {
  border: 2px solid #0ab481;
  background: #0ab481;
  box-shadow: 2px 2px 5px gray;
}
